.card {
    background: white;
    padding: 70px;
    border-radius: 4px;
    box-shadow: 0 2px 3px #c8d0d8;
    display: inline-block;
    margin: 0 auto;
    top: 42px;
    left: 28%;
}

.orderimg {
    border-radius: 200px;
    height: 200px;
    width: 200px;
    background: #f8faf5;
    margin: 0 auto;
}

img {
    width: 200px;
}

.username {
    text-align: center;
    color: red;
}

.success {
    margin-left: 91px;
    font-weight: 600;
}

.thankyou {
    margin-left: 20px;
    font-size: 19px;
}

.payamount {
    margin-top: 20px;
    margin-left: 45px;
    color: green;
    font-size: 20px;
    font-weight: 500;
}

.grandtotal {
    color: blue;
    font-size: 21px;
}